aside#inventory-search-panel {
    width: var(--width-card-medium);
    overflow-x: auto;
}

label.error, label.error > * {
    font-weight: normal;
    color: darkred;
}

table > tbody > tr:not(:last-child):not(.open-menu) > td {
    border-bottom: 1px solid #dddddd;
}
table tr.open-menu {
    background-color: var(--color-bg-secondary);
}

table td > a > svg {
    min-height: 40px;
    min-width: 1.5rem;
}
table td > button {
    margin: 0px;
    padding: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 40px;
}
table td > button.link {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-secondary);
}
table td > button.delete {
    background-color: tomato;
    border-color: tomato;
}
table td > button.save {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
